

/* Custom Navbar Styling */
.navbar-custom {
  background-color: #FFB7C5 !important;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #444;
  font-family: "Roboto", sans-serif;
}

/* Logo Color */
.navbar-custom .navbar-brand img {
  max-height: 60px;
  border-radius: 40%;  /* Makes the image round */
  object-fit: cover;   /* Ensures the image covers the circle area */
}

/* Navbar Links */
.nav-link-custom {
  color: #4C3549 !important;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav-link-custom:hover {
  color: #4C3549 !important;
  background-color: #FFA6B8 !important;
}

.parallax-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed; /* Enables parallax effect */
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
}

.content {
  position: relative;
  z-index: 2;
  color: #f1ffc4; /* Your theme color */
}
.custom-btn {
  background: linear-gradient(135deg, #8884ff, #5d576b); /* Gradient */
  color: #f1ffc4; /* Light text */
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.custom-btn:hover {
  background: linear-gradient(135deg, #5d576b, #8884ff); /* Reverse gradient */
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-btn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none; /* Initial state, visible only when toggled */
  background-color: #5d576b;
  color: #f1ffc4;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


html {
  scroll-behavior: smooth;
}

@media (max-width: 992px) {
  body {
    padding-top: 70px; /* Adjust based on navbar height */
  }
}