.homepage {
  background-image: url("/images/workout.jpg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Ensure the background covers the full viewport height */
  width: 100vw; /* Ensure the background covers the full viewport width */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

.homepageCard {
  background-color: white; /* Background color for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 8px; /* Rounded corners */
  padding: 2rem; /* Padding inside the card */
  text-align: center; /* Center-align the text */
  position: absolute; /* Position the card */
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the card horizontally and vertically */
}

.h1 {
  color: #64a6bd;
}
